<div>
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="form-group form-inline">
            Intructor List
        </h3>
        <button class="btn btn-primary" (click)="createModal(content)">Add</button>
    </div>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birthday</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of instructors; index as i">
                <td>
                    {{item.firstName}}
                </td>
                <td>
                    {{item.lastName}}
                </td>
                <td>
                    {{item.birthday | date}}
                </td>
                <td class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-warning p-2 action" (click)="editModal(content,item, i)">
                        <fa-icon [icon]="edit"></fa-icon>
                    </button>
                    <button class="btn btn-danger p-2" (click)="deleteInstructor(i,item)">
                        <fa-icon [icon]="trash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{isCreate ? 'Create' : 'Update'}} Instructor
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" autocomplete="off">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input class="form-control" placeholder="yyyy-mm-dd" id="birthday" formControlName="birthday" name="dp"
                    ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()"
            [disabled]="form.invalid">Save</button>
    </div>
</ng-template>